body {
    background: rgb(39, 40, 34);
    color: #fff;
    padding-top: 50px;
}

/*
 * Sidebar
 */

.sidebar {
    background: rgb(230, 230, 230);
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    padding-right: 0;
}
  
.sidebar .nav {
    margin-bottom: 20px;
}
  
.sidebar .nav-item {
    width: 100%;
}
  
.sidebar .nav-item + .nav-item {
    margin-left: 0;
}
  
.sidebar .nav-link {
    border-radius: 0;
}
  
.sidebar a {    
    color: #616060;
    font-weight: 500;
}

/* Components */
.header {
    background-color: #171814 !important;
    margin-left: -15px;
    margin-right: -15px;
    position: fixed;
    top: 0px;
    z-index: 2;
}
@media (min-width: 576px) {
    .header {
        width: 75%;
    }
}

.header-tab
{
    background: rgb(39, 40, 34);
    border-radius: 0px 30px 0px 0px;
    color: #fff !important;
    font-weight: 500;
    margin: -15px;
    margin-right:40px;
    padding: 20px;
    position: relative;
}

.header-tab-arrow
{
  border-color: transparent transparent rgb(39, 40, 34) rgb(39, 40, 34);
  border-style: solid;
  border-width: 30px 15px;
  height:0;
  width:0;
  position:absolute;
  bottom:0px;
  right:-23px;
}

main h4, main p {
    font-family: 'Consolas' !important;
}

main div.row {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 0.2rem;
    padding-top: 1.2rem;
}

main div.row:hover {
    background-color: rgb(62, 61, 50)
}

main div.row a {
    color: #fff;
}

main div.row a:hover {
    color: rgb(202, 202, 202);
}


.search-box {
    border-radius: 0;
    padding: 0.2rem .75rem;
    font-family: Consolas;
}


/* Bootstrap override */

.btn-primary {
    background-color: rgb(88, 194, 229);
    border-color: rgb(88, 194, 229);
    color: #000;
}

.btn-success {
    background-color: rgb(116, 170, 4);
    border-color: rgb(116, 170, 4);
    color: #000;
}

nav .nav-link {
    padding: .5rem .5rem;
}

nav.navbar-light .navbar-nav .nav-link {
    color: rgb(202, 202, 202);
    padding: .5rem 1rem;
}

nav.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
