<!doctype html>
<html lang="en">
  <head>
   <title>Hello World!</title>
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/ladda/ladda-themeless.min.css')}}">
   <link rel="stylesheet" href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}">
   <style type="text/css">
     .app-is-installed .action-install,
     .app-not-installed .action-uninstall {
        display: none;
     }
   </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">{{ config.app_name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/prezesp" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Website</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div style="height: 100px">
    </div>

    <div id="apps-list" class="container">
      {% for app in apps %}
        <div class="row">
          <div class="col-sm-10">
            <h4> {{ app['name'] }} </h4>
            <p> {{ app['description'] }} </p>
            <p> <small>{{ app['homepage'] }} </small></p>
          </div>
          <div class="col-sm-2 text-right {% if app['installed'] == True %}app-is-installed{% else %}app-not-installed{% endif %}">
              <button type="button" class="action-uninstall btn btn-primary btn-success btn-sm" data-app="{{ app['name'] }}">Uninstall</button>
              <button type="button" class="action-install btn btn-primary btn-sm" data-app="{{ app['name'] }}"><i class="fa fa-download" aria-hidden="true"></i> Install</button>
          </div>
        </div>
        <hr/>
      {% endfor %}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <i class="fa fa-smile-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <script type=text/javascript src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='vendor/ladda/spin.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='vendor/ladda/ladda.min.js') }}"></script>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

      $(function() {
        var callButtonAction = function(actionName, whenDoneFunc) {
          var $button = $(this);
          var app = $button.data('app');
          var url = $SCRIPT_ROOT + '/app/' + app +'/' + actionName;
          var l = Ladda.create($button[0]);
          l.start();

          $.ajax({
            url: url,
            cache: false
          }).done(function() {
            l.stop();
            whenDoneFunc($button)
          });
        };

        var installAction = function() {
          callButtonAction.call(this, 'install', function($button) {
            $button.parent().addClass('app-is-installed').removeClass('app-not-installed')
          });
        };

        var uninstallAction = function() {
          callButtonAction.call(this, 'uninstall', function($button) {
            $button.parent().removeClass('app-is-installed').addClass('app-not-installed')
          });
        };

        $('#apps-list').on('click', '.action-uninstall[data-app]', uninstallAction);
        $('#apps-list').on('click', '.action-install[data-app]', installAction);
       });
    </script>
  </body>
</html>
