<html>
	<head>
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="Expires" content="-1">
		<title>Scoop Viewer</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/ladda/ladda-themeless.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<div id="app" data-api-root={{ request.script_root|tojson|safe }}></div>

		<script src="{{url_for('static', filename='js/bundle.js')}}"></script>
		<script src="{{url_for('static', filename='js/custom_event_polyfill.js')}}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='vendor/ladda/spin.min.js') }}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='vendor/ladda/ladda.min.js') }}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='vendor/bootstrap.native/bootstrap-native-v4.min.js') }}"></script> <!--FIXME min-->

		<script>
			var isCtrl = false;
			var isShift = false;
			document.addEventListener("DOMContentLoaded", function(event) { 
				// action on key up
				document.onkeyup = function(e) {
					if(e.which == 17) {
						isCtrl = false;
					}
					if(e.which == 16) {
						isShift = false;
					}
				};
				// action on key down
				document.onkeydown = function(e) {
					if(e.which == 17) {
						isCtrl = true; 
					}
					if(e.which == 16) {
						isShift = true; 
					}
					if(e.which == 80 && isShift) { 
						document.getElementById("searchBox").focus();
						return false;
					} 
				};
			});
		</script>
	</body>
</html>
